* {
    --main-bg-color: #cfcfcf;
    --secondary-bg-color: #e00000;
}

body {
    background-color: var(--main-bg-color);
}

.navbar {
    background-color: var(--secondary-bg-color);
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    margin-bottom: 2ch;
    padding: 0.5rem 4rem;
}
.navbar .links {
    display: flex;
    justify-content: end;
    width: 20%;
}

.navbar .links a {
    padding: 0 1rem;
}

.chapter {
    font-size: 2rem;
    width: 80vw;
    max-width: 100%;
    margin: 0 auto;
}
.chapter-nav {
    display: flex;
    justify-content: space-between;
}
.float-left {
    float: left;
    margin: 0 10px 10px 0;
    width: 100%;
    max-width: 800px;
}
.wide {
    width: 100%;
}

.chapter p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
